/**
 * @file
 * Aesthetically css styles for the dush help page.
 */

/* Remove the uppercase from the summary label */
.drush_help summary {
  text-transform: none;
}

/* Format for the table captions and for the aliases */
caption {
  text-align: left;
}
caption,
.aliases {
  font-weight: bold;
}

/* Margin for the table and the aliases */
table,
.aliases {
  margin-top: 20px;
}

/* Made the first table columns more small */
table thead th:nth-child(1) {
  width: 25%;
}

/* Adding padding to the aliases commands */
.item-list--comma-list {
  padding-left: 12px;
}
